@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  display: block;
  position: fixed;
  width: 1920px;
  max-width: 1920px;
  height: 1080px;
  max-height: 1080px;
  background: rgba(0, 0, 0, 0.0);
  font-family: 'Roboto', sans-serif;
}

body,
.alert,
.alert-type,
.alert-information {
  margin: 0;
  padding: 0;
  border: 0;
}

.alert,
.alert-type,
.alert-information {
  position: absolute;
  width: 300px;
  max-width: 300px;
  height: 80px;
  max-height: 80px;
  background: #333333;
}

.alert {
  display: block;
  top: 500px;
  left: -300px;
  -webkit-animation: slide-in 0.5s forwards, slide-out 0.5s forwards;
  -webkit-animation-delay: 0s, 4.5s;
  animation: slide-in 0.5s forwards, slide-out 0.5s forwards;
  animation-delay: 0s, 4.5s;
}

.alert-type,
.alert-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.alert-type {
  font-size: 20pt;
  font-weight: 500;
  -webkit-animation: fade-in 1s forwards, fade-out 1s forwards;
  -webkit-animation-delay: 0.5s, 2s;
  animation: fade-in 0.5s forwards, fade-out 0.5s forwards;
  animation-delay: 0.5s, 1.5s;
  color: #00acff;
}

.alert-information {
  font-size: 18pt;
  font-weight: 200;
  -webkit-animation: fade-in 1s forwards, fade-out 1s forwards;
  -webkit-animation-delay: 2s, 4s;
  animation: fade-in 0.5s forwards, fade-out 0.5s forwards;
  animation-delay: 2s, 4s;
  color: #ffffff;
}

@keyframes slide-in {
  0% { left: -300px; }
  100% { left: 0; }
}

@keyframes slide-out {
  0% { left: 0; }
  100% { left: -300px; }
}

@keyframes fade-in {
  0% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes fade-out {
  0% { opacity: 1.0; }
  100% { opacity: 0.0; }
}